.footer {
  font-size: 1.4rem;
  color: white;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 16px;
}

.btn {
  color: black;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #e9bb24;
}

.cartSummary {
  display: flex;
  flex-direction: column; /* Ustawia elementy jedno pod drugim */
  align-items: center; /* Wyśrodkowuje zawartość poziomo */
  justify-content: center; /* Wyśrodkowuje zawartość pionowo */
  text-align: center; /* Centruje tekst */
}
